.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:#b8ecfa;
    color: black;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .trending-section, .popular-users-section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  